warehouse/WareWebServiceImpl/src/wsdl/WareWebServiceImplService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><definitions targetNamespace="http://service.web.whWeb.warehouse.java.neuron.hu/" name="WareWebServiceImplService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web.whWeb.warehouse.java.neuron.hu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.web.whWeb.warehouse.java.neuron.hu/" schemaLocation="WareWebServiceImplService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllWares">
    <part name="parameters" element="tns:getAllWares"/>
  </message>
  <message name="getAllWaresResponse">
    <part name="parameters" element="tns:getAllWaresResponse"/>
  </message>
  <message name="getWaresNumbers">
    <part name="parameters" element="tns:getWaresNumbers"/>
  </message>
  <message name="getWaresNumbersResponse">
    <part name="parameters" element="tns:getWaresNumbersResponse"/>
  </message>
  <message name="getNumberOfWares">
    <part name="parameters" element="tns:getNumberOfWares"/>
  </message>
  <message name="getNumberOfWaresResponse">
    <part name="parameters" element="tns:getNumberOfWaresResponse"/>
  </message>
  <message name="decreaseNumberOfWares">
    <part name="parameters" element="tns:decreaseNumberOfWares"/>
  </message>
  <message name="decreaseNumberOfWaresResponse">
    <part name="parameters" element="tns:decreaseNumberOfWaresResponse"/>
  </message>
  <portType name="WareWebService">
    <operation name="getAllWares">
      <input wsam:Action="http://service.web.whWeb.warehouse.java.neuron.hu/WareWebService/getAllWaresRequest" message="tns:getAllWares"/>
      <output wsam:Action="http://service.web.whWeb.warehouse.java.neuron.hu/WareWebService/getAllWaresResponse" message="tns:getAllWaresResponse"/>
    </operation>
    <operation name="getWaresNumbers">
      <input wsam:Action="http://service.web.whWeb.warehouse.java.neuron.hu/WareWebService/getWaresNumbersRequest" message="tns:getWaresNumbers"/>
      <output wsam:Action="http://service.web.whWeb.warehouse.java.neuron.hu/WareWebService/getWaresNumbersResponse" message="tns:getWaresNumbersResponse"/>
    </operation>
    <operation name="getNumberOfWares">
      <input wsam:Action="http://service.web.whWeb.warehouse.java.neuron.hu/WareWebService/getNumberOfWaresRequest" message="tns:getNumberOfWares"/>
      <output wsam:Action="http://service.web.whWeb.warehouse.java.neuron.hu/WareWebService/getNumberOfWaresResponse" message="tns:getNumberOfWaresResponse"/>
    </operation>
    <operation name="decreaseNumberOfWares">
      <input wsam:Action="http://service.web.whWeb.warehouse.java.neuron.hu/WareWebService/decreaseNumberOfWaresRequest" message="tns:decreaseNumberOfWares"/>
      <output wsam:Action="http://service.web.whWeb.warehouse.java.neuron.hu/WareWebService/decreaseNumberOfWaresResponse" message="tns:decreaseNumberOfWaresResponse"/>
    </operation>
  </portType>
  <binding name="WareWebServiceImplPortBinding" type="tns:WareWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllWares">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getWaresNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getNumberOfWares">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="decreaseNumberOfWares">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WareWebServiceImplService">
    <port name="WareWebServiceImplPort" binding="tns:WareWebServiceImplPortBinding">
      <soap:address location="http://javatraining.neuron.hu:80/warehouseApp/WareWebServiceImplService"/>
    </port>
  </service>
</definitions>